.row-header{
    margin: 0px auto;
    padding: 0px auto;
}
.row-about{
    margin: 0px auto;
    padding: 0px auto;
    border-bottom: 1px ridge;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.footer{
    background-color: darkgrey;
    margin: 0px;
    padding: 20px 0px 20px 0px;
}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color: darkorchid;
    color: floralwhite;
}
.address{
    font-size: 80%;
    margin: 0px auto;
    color: #0f0f0f;
}
.aboutus-container{
    margin: 0 0 50px 0;
}
/* .corporate-container{
  margin-top: 70px;
} */
.stylingOfButton{
    height: 40px;
}
.decorate{
color: black;
text-decoration: none !important;
}
.decorate:hover{
    color: black;
    text-decoration: none !important;
    }
